# IntelliJ
.idea/
*.iml

# Node (frontend)
code-clash-frontend/node_modules/
code-clash-frontend/dist/
code_clash-backend/target/

# Java (backend)
target/
*.log

# Env files
.env

# OS junk
.DS_Store
Thumbs.db